*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.skills{
    list-style-type: disc;
    list-style-position: outside;
    color: blue;
    margin: 5px
}

.image-profile{
    width: 100px;
    height: 100px;
    
    
}